/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable'; 
    --accent-font: 'PressStart2P';
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --bg-color: #fff;
    --main-color: #000;
    --bg-line-color-light: rgb(211, 211, 211, 1);
    --bg-line-color-dark: rgb(211, 211, 211, 0);
    --bg-gradient-color-light: #e7e7e7; 
    --bg-gradient-color-dark: #1a1a1a;
    --text-shadow-color: #fff;
    --button-text-color: #fff;
    --main-heart-color: #000;
    --accent-heart-color: red;
}